.wrapper {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  padding: 3rem 0;
  margin-top: 3rem;
  text-align: center;
}

.link {
  margin-right: 1.5rem;
  font-weight: 300;
}

.link:hover {
  text-decoration: underline;
}

.logo {
  margin: 0 auto 2rem auto;
}

.copyright {
  margin-bottom: unset;
}
