.group {
  position: relative;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  border-radius: 4px;
  border: 1px solid var(--color-gray-medium);
  min-height: 50px;
  padding: 0.5rem 1rem;
  font: inherit;
  font-weight: lighter;
  color: var(--color-black);
  width: 100%;
  resize: vertical;
  transition: border-color 0.1s linear;
}

.input:focus {
  border-color: var(--color-black);
  outline: none;
}

.input:not(:placeholder-shown):not(:focus-within):invalid {
  color: var(--color-red);
  border-color: var(--color-red);
}

.input:not(:placeholder-shown):not(:focus-within):invalid + .error {
  display: block;
}

.error {
  display: none;
  padding: 0 5px;
  margin: unset;
  position: absolute;
  bottom: 0;
  left: calc(1rem - 5px);
  color: var(--color-red);
  font-size: 12px;
  background-color: var(--color-white);
  transform: translateY(50%);
}

.asterisk {
  color: var(--color-gray);
}
