.top-logo {
  height: 50px;
  background: var(--color-blue-light) url('/club-logo.jpg') center no-repeat;
  background-size: auto 40px;
}

.wrapper {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  min-height: 100px;
  background: var(--color-gray-light) url('/lions-logo.png') 1.5rem center no-repeat;
  background-size: 80px;
  width: 90rem;
  width: clamp(16rem, 90vw, 80rem);
  margin: auto;
  padding: 0 1.5rem;
}

.list {
  list-style: none;
  padding-left: unset;
  display: flex;
  width: 100%;
}

.title {
  display: block;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
}

.link {
  color: var(--color-black);
}

.link:hover {
  text-decoration: none;
}

.item:last-child {
  margin-left: auto;
}

.dropdown {
  list-style: none;
  margin: unset;
}

@keyframes fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1100px) {
  .wrapper {
    align-items: center;
  }

  .toggle {
    display: none;
  }

  .list {
    margin: 0 0 0 7rem;
  }

  .button {
    margin: 0 0.5rem 0 auto;
  }

  .item {
    margin-right: 2.5rem;
    position: relative;
  }

  .item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0px;
    height: 4px;
    overflow: hidden;
    background-color: var(--color-blue);
    transition: width 0.2s ease-out;
  }

  .item:hover::before {
    width: 100%;
  }

  .item:hover .dropdown {
    display: block;
    opacity: 0;
    transform: translateY(-5px);
    animation: fade-in 0.1s ease-out forwards;
  }

  .dropdown {
    display: none;
    position: absolute;
    min-width: 300px;
    top: 100%;
    left: -1.5rem;
    background: linear-gradient(to bottom, transparent 1rem, var(--color-gray-light) 1rem);
    white-space: nowrap;
    border-radius: 3px;
    padding: 2.5rem 1.5rem 1.5rem;
  }

  .dropdown .item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .dropdown .item {
    margin: unset;
    width: max-content;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    background-position-y: 0.6rem;
  }

  .toggle {
    border: unset;
    background-color: transparent;
    padding: unset;
    margin-left: auto;
    outline: none;
    height: 100px;
    position: absolute;
    right: 1.5rem;
    top: 0;
  }

  .list {
    flex-direction: column;
    top: 150px;
    margin: unset;
    background-color: var(--color-gray-light);
    padding-bottom: 1.5rem;
    transform: translateY(100px);
  }

  .button {
    align-self: flex-start;
  }

  .dropdown {
    padding: 0 0 0 1.5rem;
    margin: 1rem 0 -1rem 0;
  }

  .item {
    margin-bottom: 1rem;
  }

  .title {
    line-height: 1;
  }

  .hidden {
    display: none;
  }
}
