.base {
  margin: unset;
  line-height: 1.2;
}

.h1 {
  font-size: 55px;
  letter-spacing: 0.5px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 24px;
}

.h5 {
  font-size: 18px;
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 4px;
  background-color: var(--color-yellow);
}

.inverted {
  color: var(--color-white);
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 48px;
  }
}

@media (max-width: 800px) {
  .h1 {
    font-size: 44px;
  }
}
