.members {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}

.member {
  flex: 1;
  margin: 3rem 1.5rem 0 1.5rem;
}

.title {
  margin-top: 1rem;
}

.role,
.location {
  margin: unset;
}

.location {
  font-size: 14px;
}
