:root {
  --color-yellow: #ebb700;
  --color-blue: #00338d;
  --color-gray: #55565a;
  --color-gray-light: #f6f6f6;
  --color-white: #ffffff;
  --color-black: #000000;
}

html,
body {
  margin: unset;
  background-color: var(--color-gray-light);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.5rem;
}
